<div class="home__container">

	<h1 class="h1__title">S'inscrire</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :username, autofocus: true, placeholder: 'Pseudonyme', class: 'form spacing' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Mot de passe', class: 'form spacing' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Répéter mot de passe', class: 'form spacing' %>
    </div>

    <br>

    <%= f.submit "Faire partie de l'aventure", class: 'benjamin' %>
  <% end %>

  <br><br>
  <p class="subrepticement">Déjà détenteur d'un compte ?  <%= link_to('Devenez connecté', new_player_session_path)  %></p>
</div>
