<div class="home__container">

	<h1 class="h1__title"> Connectez-vous</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :username, autofocus: true, placeholder: 'Pseudonyme', class: 'form spacing' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Mot de passe', class: 'form spacing' %>
    </div>

    <%= f.submit "Se connecter", class: 'benjamin' %>
  <% end %>

  <p class="subrepticement">Pas encore de compte ?  <%= link_to('S\'inscrire', new_player_registration_path)  %></p>
</div>
